
$couleurPrincipale_fonce:#6d8e59;
$couleurPrincipale_moyen:#9bb78c;
$couleurPrincipale_clair:#c8e0bf;

$couleurSecondaire_fonce:#7d4e92;
$couleurSecondaire_moyen:#a987ba;
$couleurSecondaire_clair:#d5c0e1;

$couleurTertiaire_fonce:#8d6456;
$couleurTertiaire_moyen:#ba9c8e;
$couleurTertiaire_clair:#e7d4c6;

$couleurInfo_fonce:#484BA3;
$couleurInfo_moyen:#7272c7;
$couleurInfo_clair:#9b99ea;

$couleursucces_fonce:#1c823a;
$couleursucces_moyen:#4fb567;
$couleursucces_clair:#82e893;

$couleurWarning_fonce:#ffa00a;
$couleurWarning_moyen:#ffca6b;
$couleurWarning_clair:#fff3cc;

$couleurDanger_fonce:#e51c23;
$couleurDanger_moyen:#ef797e;
$couleurDanger_clair:#f8d6d9;