
/* Ecran de smartphone (portrait) */
$screen-xs-max: 575px;

/* Ecran de smartphone (paysage) */
$screen-s-min: 576px;

/* Ecran de tablette (portrait) */
$screen-sm-min: 768px;

/* Ecran de tablette (paysage) */
$screen-m-min: 992px;

/* Ecran d'ordinateur "classique" */
$screen-l-min: 1400px;

/* grand écran d'ordinateur */
$screen-xl-min: 2600px;

/* Ecran de TV */
$screen-xxl-min: 3600px;

